
        body {
            background-image: url('../img/imgtelaLogin.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            min-height: 100vh;
        }
        .login-container {
            margin-top: 80px;
            background-color: rgba(255, 255, 255, 0.8);
            padding: 40px;
            border-radius: 10px;
        }
        .card {
            border-radius: 15px;
        }
